@charset "UTF-8";

/* Typical Device Breakpoints 
/* Small devices such as large phones (640px and up) */
/* @media only screen and (min-width: 40em) {...} */

/* Medium devices such as tablets (768px and up) */
/* @media only screen and (min-width: 48em) {...} */

/* Large devices such as laptops (1024px and up) */
/* @media only screen and (min-width: 64em) {...}

 Largest devices such as desktops (1280px and up) 
/* @media only screen and (min-width: 80em) {...} */


@media only screen and (min-width: 48em) {
    #burguer {
        display: none;
    }
    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 768px;
    }
}